
.wrapper{
    padding: 6px;
}

.card-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.card iframe{
    height: 210px;
}

@media (width >= 431px){
    .card-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .card iframe{
        height: 210px;
    }
}

@media (width >= 1024px){
    .card-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}